body {
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  max-height: max-content;
}

#contenedor {
  max-height: max-content;
}


.btn-record {
  border: none;
  padding: 20px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #19ceae;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  aspect-ratio: 1;
  animation: l2 1.5s infinite linear;
  position: relative;
}

.btn-record:before,
.btn-record:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #222;
  animation: inherit;
  animation-delay: -0.5s;
}
.btn-record:after {
  animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #0000}
}

@keyframes l1 {
  100% {box-shadow: 0 0 0 30px #555}
}

.btn-record:hover {
  background-color: #15ab8c;
}

.btn-record img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
 .record-stop-label{
  align-items: center;
  justify-content: center;
 }

.record-spinner {
  color: white;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30vh); /* Ajusta el valor según necesites */
  }
}

.mic-img {
  width: 20px;
}

#text {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.mensaje{
  display: none ;
  position: fixed;
}

audio {
  position: fixed;
  top: 20px;
  left: 20px;
  opacity: 0.7;
}

@media (max-width: 480px){
  #out{
    position: absolute;
    top: 200px;
    z-index: -1;
  }
  
  .mensaje{
    display: block;
    margin: 10px;
    width: 94%;
    color: #fff;
    max-height: 58%;
    overflow: auto;
  }
  
  .texto-mensaje{
    background: #15ab8c;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
  }
  
  .columDerecha{
    display: flex;
    justify-content: flex-end;
  }
  .columIzquierda{
    display: flex;
    max-width: 250px;
  }
  .usuario{
    background: #579ffb;
    max-width: 250px;
    right: 0;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    margin: 15px;
  }
  
  .asistente{
    left: 0;
    max-width: 250px;
    top: 110px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    margin: 15px;
  }
}