<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>A.L.F.R.E.D.</title>
    <link rel="icon" href="/static/img/ai.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/recorder.css" />
  </head>
  <body>
    <div class="container">
      <div class="row mt-3 px-3" id="contenedor">
        <div class="col-12 text-center">
          <button
            type="button"
            class="btn-record btn-record-green"
            id="record"
            onclick="record()"
          >
            <img class="mic-img" src="/static/img/microphone.png" alt="Imagen de un microfono" />
          </button>
          <button
            type="button"
            class="btn-record btn-record-red"
            id="stop"
            onclick="stop()"
            style="display: none"
          >
            <img
              class="mic-img2"
              id="record-stop-label"
              src="/static/img/Stop.png"
              style="display: initial;"
              alt="Imagen de stop grabacion"
            />
            <span id="record-stop-loading" style="display: none"
              ><span
                class="spinner-border spinner-border-sm record-spinner"
                role="status"
                aria-hidden="true"
              ></span
            ></span>
          </button>
        </div>
        <div class="col-12 text-center mt-2">
          <div id="text"></div>
        </div>
      </div>
    </div>

    <div class="mensaje">
      <div class="columDerecha">
        <div class="texto-mensaje usuario" id="mensaje-usuario">
        </div>
      </div>
      <div class="columIzquierda">
        <div class="texto-mensaje asistente" id="mensaje-asistente">
        </div>
      </div>
    </div>
    
    <audio id="audio">
        <source id="audio-source" type="audio/mpeg" src="">
        Tu navegador no soporta la reproducción de audio.
    </audio>
    <script
      async
      src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script src="/static/recorder.js"></script>

    <div id="out"></div>
    <!-- ENLACES A LIBRERIAS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.3/dat.gui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.3.0/simplex-noise.min.js"></script>

    

    <script type="text/javascript">
      const audio = new Audio(); // Crear una instancia de Audio
  
      recorder("/audio", (response) => {
          document.getElementById("record").style.display = "";
          document.getElementById("stop").style.display = "none";
          if (!response || response == null) {
              return;
          }
  
          // Obtener los elementos de mensaje por sus IDs
          const mensajeUsuario = document.getElementById("mensaje-usuario");
          const mensajeAsistente = document.getElementById("mensaje-asistente");
  
          // Asignar la transcripción al mensaje de usuario
          mensajeUsuario.textContent = response.transcription;
          
          // Obtener el contenido de la respuesta generada
          const respuestaGenerada = response.text;
  
          // Asignar la respuesta generada al mensaje de asistente
          mensajeAsistente.textContent = respuestaGenerada;

          document.getElementById("text").innerHTML = "";
  
          if (typeof response.audio_url !== "undefined") {
              // Configurar la fuente del elemento de audio
              audio.src = response.audio_url;
  
              // Cargar y reproducir el audio después de cargarlo
              audio.addEventListener("canplaythrough", () => {
                  audio.play();
  
                  // Aplicar animación al botón cuando el audio se carga
                  const recordButton = document.getElementById("contenedor");
                  recordButton.style.animation = "moveDown 0.5s ease-out";
                  recordButton.addEventListener("animationend", () => {
                      recordButton.style.animation = "";
                      recordButton.style.transform = "translateY(30vh)"; // Ajusta el valor según necesites
                  });
              });
  
              // Cargar el audio
              audio.load();
          }
      });
  </script>
  
  <script type="module" src="/static/script.js"></script>    

    <!-- CODIGO SCRIPT-->
    
  </body>
</html>
